body{
	font: 15px/1.5  arial, helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: #f4f4f4;
}

/*Global*/
.container{ 
	width: 80%;
	margin: auto;
	overflow: hidden;  
}

ul{
	margin: 0;
	padding: 0;
}

.button1{
	height: 38px;
	background: #e8491d;
	color: #fff;   
}

.dark{
	padding: 15px;
	background: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*Header*/
header{
	background: #35424a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float:left;
	display: inline;
	padding: 0px 20px 0px 20px;
}  

header #brand{
	float: left;
}

header #brand h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px; 
}

header .highlight, header .current a{
	color: #e8491d;
	font-weight: bold; 
}

header a:hover{
	color: #ccc;
	font-weight: bold;
}

/*Showcase*/
#showcase{
	min-height: 400px;
	background: url("logo ambient.jpg") no-repeat;
	background-size: cover;
}

#showcase h1{
	font-size: 25px;
}

#showcase p{
	width: 40%;
	font-size: 20px;
}

/*Newsletter*/

#newsletter {
	background: #35424a;
	padding: 15px;
	color: #fff;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"]{
	padding: 4px;  
	height: 25px;
	width: 250px;
}

/*boxes*/

#boxes {
	margin-top: 20px;
}

#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#boxes .box img{
	width: 90px;
}

/*sidebar*/
aside#sidebar{
	float: right;
	width: 30%;
}

aside#sidebar .my-form input,
aside#sidebar .my-form textarea{
	width: 90%;
	padding: 5px;
}



/*main-col*/
article#main-col{
	float: left;
	width: 65%;
}

/*services*/

#services li{
	list-style: none;
	padding: 20px;
	border: #ccc solid 1px;
	margin-bottom: 5px; 
	background: #e6e6e6;

}

footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background: #e8491d;
	text-align: center;
}
 
/*Media Queries*/
@media (max-width: 768px){
	header #brand,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form,
	#boxes .box,
	#main #main-col,
	#main #sidebar{
		float: none;
		text-align: center;
		width: 100%
	}
	header{
		padding-bottom: 20px;
	}

	#showcase h1,
	#showcase p{
		text-align: center;
		width: 80%;
		margin-left: 40px;
	}

	#newsletter button, .my-form button{
		display: block;
		width: 100%
	}
	#newsletter form input[type="email"]{
		width: 100%;
		margin-bottom: 5px;
		text-align: center;  
	} 
	

	}



}




 






  


 