/* Define vars for the root element*/

:root {
    --main-bg-color: #f4f4f4;
    --main-text-color: #333;
    --container-width: 90%;
    --header-bg-color: #333;
    --header-txt-color: #fff;

}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.container {
    width: var(--container-width);
    margin: 20px auto;
}

#main-header {
    background: var(--header-bg-color);
    color: var(--header-txt-color);

}
#main-header h1 {
    margin:0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;

}

/*Define box vars*/
.box {
    --box-bg-color: #ddd;
    --box-main-color: #06c;
    --box-padding: 5px 10px;
    --box-shadow-h-offset: 10px;
    --box-shadow-v-offset: 5px;
    --box-shadow-blur: 5px;
}

.box {
    background: var(--box-bg-color);
    padding: var(--box-padding);
    border: 1px solid var(--box-main-color);
    box-shadow: var(--box-shadow-h-offset) var(--box-shadow-v-offset)
                var(--box-shadow-blur) var(--box-main-color);

    /* OR
    box-shadow: 10px 5px 5px var(--box-main-color);*/

}
.box h3 {
    color: var(--box-main-color);
}

.box p {
   /* Overwrite var
    --box-main-color: red;
    color: var(--box-main-color);*/

    color: var(--box-p-color, green);

}