    body {
        background: rgba(0, 0, 0, 0.8);
        margin: 0;
        color: #fff;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .showcase::after {
        content: '';
        height: 100vh;
        width: 100%;
        background-image: url(code.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        filter: blur(10px);
        -webkit-filter: blur(10px);
        transition: all 500ms;
    }

    .showcase:hover::after {
        filter: blur(0px);
        -webkit-filter: blur(0px);
    }

    .showcase:hover .content {
        filter: blur(2px);
        -webkit-filter: blur(2px);

    }


    .content {
        position: absolute;
        z-index: 1;
        top: 10%;
        right: 70%;
        width: 300px;
        height: 350px;
        text-align: center;
        transition: all 500ms;
    }

    .content.logo {
        height: 140px;
        width: 140px;
    }

    .content.title {
        font-size: 2.2rem;
        margin-top: 1rem;
    }

    .content.text {
        line-height: 1.7;
        margin: 1rem;
    }

    .container {
        max-width: 960px;
        margin: auto;
        overflow: hidden;
        padding: 4rem 1rem;

    }

    .grid3 {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .grid2 {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }


    .center {
        text-align: center;
        margin: auto;
    }

    .bg_light {
        background: #f4f4f4;
        color: #333;

    }

    .bg_dark {
        background: #333;
        color: #f4f4f4;            
    }

    .footer {
        padding: 2.2rem;

    }
    .footer p {
        margin: 0;                              
    }

    @media (max-width: 560px) {
        .showcase::after {
            height: 50vh;
        }
        .content {
            top:10px;
            left:20px;   
        }
        .logo {
            height: 140px;
            width: 100px;
        }
        .content .text {
            display: none;  
        }
        .grid3,
        .grid2 {
            grid-template-columns: 1fr;
            margin:none;
            padding: none;
        }
        .services {
            width: 100%;
            margin : auto; 
            text-align: center;
            border-bottom: #333 dashed 1px;
            padding: 1.2rem 1rem;
        }

        /*landscape*/
        @media (max-height: 500px) {
            .content .title,
            .content .text  {
                display: none;
            }  
            .content {
                top: 0;
            }
        }
    }