/*
*{
	margin:0;
	padding: 0;
}
*/

body{
	background-color: #f4f4f4;
	background-color: rgb(0,0,0);
	background-color: white;
	color: #555;
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	/*same aa above*/
	font:normal 16px arial, helvetica, sans-serif;

}

a{
	text-decoration: none;
	color: black;

}

a:hover{
	color: red;
}

a:active{
	color: green;

}

a:visited{
	
}

.container{
	width: 80%;
	margin: auto;

}

.clr{
	clear: both;

}


.button{
	padding: 10px 15px;
	border: none;
	background: black;
	color: white;
}



.button:hover{
	background: red;
	color: #fff;
}



.box1{
	background-color: #333;
	color: #fff;
	width: 500px;
	width: 80%;
	margin: auto;
	border-right: 5px red solid;
	border-left: 5px red solid;
	border-top: 5px red solid;
	border-bottom: 5px red solid;
	/*same as above*/
	border: 5px green solid;
	border-width: 3px;
	border-bottom-width: 10px;
	border-top-style: dotted;
	border: 5px red solid;
	padding: 20px;
}


.box1 h1{
	font-family: tahoma;
	font-weight: 800;
	font-style: italic;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	word-spacing: 1em;
}

.box2{
	border: 3px dotted #ccc;
	padding: 20px;
	margin: 20px 0px;
}

.Categories{
	border: 1px #ccc solid;
	padding: 10px;
	border-radius: 15px;

}

.Categories h2{
	text-align: center;
}

.Categories ul{
	padding: 0;
	list-style: square;
	list-style: none;
	padding-left: 20px;
}

.Categories li{
	padding-bottom: 6px;
	border-bottom: dotted 1px #333;
	list-style-image: url(check.jpg);
}

.my-form{
	padding: 20px;

}
.my-form.form{
	padding-bottom: 15px;

}
.my-form label{
	display: block;
}
.my-form [type="text"], .my-form textarea, .form input{
	padding: 8px;
	width: 100%;
}

.block{
	float: left;
	width: 33.3%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing: border-box;
}


#main-block{
	float: left;
	width: 70%;
	padding: 10px;
	background-color: grey;
	box-sizing: border-box;
}

#sidebar{
	float: right;
	width: 30%;
	background-color: #333;
	color: #fff;
	padding: 5px;
	box-sizing: border-box;
}

.p-box{
	width: 800px;
	height: 500px;
	border: 1px solid #000;
	margin-top: 30px;
	position: relative;
	background-image: url(../background.jpg);
 	background-position: 100px 200px;
 	background-repeat: no-repeat;
 	background-position: center center;
}

.p-box h1{
	position: absolute;
	top: 100px;
	left: 200px;
}

.p-box h2{
	position: absolute;
	bottom: 40px;
	right: 100px;

}

.fix-me{
	position: fixed;
	top: 400px;
}

.list li:first-child{
	background: red;
}
.list li:last-child{
	background: yellow;
}
.list li:nth-child(2){
	background: green;
}

.list li:nth-child(even){
	background: red;
}









